
$red: #FF0000;
$white: #FFFFFF;
$gray: #535353;
$black: #000000;
$blue: #0000FF; 
$gray-dark: #262626;
$black-dark:  #121212;
$gradiente:linear-gradient(to bottom, rgba(17,17,17,1) 0%, rgba(18,18,18,1) 38%, rgba(0,0,0,1) 71%, rgba(0,0,0,1) 76%, rgba(0,0,0,1) 88%, rgba(0,0,0,1) 100%);

$fa-font-path: "../webfonts";

@mixin color-home($color){
    color: $color;
    &:hover{
         background: $color;
         color: white;
    }
}
