// Variables
@import '_variables';

// core
@import "node_modules/@coreui/coreui/scss/coreui";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

table th {
  text-align: right;
  width: 50px;
}
textarea{
    resize: none;
}
.navbar{
    background: $black-dark;
}

.nav-search{
    .nav-dropdown-items{
        .nav-link{
            padding: .4rem 1rem;
        }
    }
}

.nav-dropdown-items{
    .nav-link{
        padding-left: 10px !important;
    }
}

.sidebar{
    .nav-dropdown.open, .nav-link.active{
        background-color: $blue;
        i{
            color: white !important;
        }
    }
}

.c-white{
    color: $white;
}

.c-red{
    color: $red;
}

.c-gray{
    color: $gray;
}

.c-black{
    color: $black;
}

.c-blue{
    color: $blue;
}

.bg-bdark{
    background: $black-dark;
}

.bg-white{
    background: $white;
}

.bg-red{
    background: $red;
}

.bg-gray{
    background: $gray;
}

.bg-black{
    background: $black;
}

.sub{
    border-bottom: solid 2px #FF0000;
}

.sub-g{
    border-bottom: solid 2px #535353;
    color: #535353;

}

.form-control{
    width: 200px;
    border-radius: 30px;
    color: black;
}

.avatar{
    border-radius: 50px;
}

.fuente{
    font-family: EncodeSans;
}

.checkbox{
    text-align: right;
    margin: auto;
}

.title-nav{
    padding-left: 11px;
    padding-bottom: 10px;
    position: absolute;
}

.start{
    position: absolute;
    padding-right: 5px;
    padding-bottom: 5px;
}

.link{
    color: #535353;
}

.font{
    color: #535353;
    font-size: 8px;
}

.img-position-profile-full{
    width: 1300; 
    height: 180px;
    position: absolute; 
    z-index: 1;
}

.img-position-rounded-profile{
    position: absolute; 
    left: 5px; 
    top: 115px; 
    z-index: 2;
}


.img-profile{
    width:130px;
    height:130px;
    border-radius:170px;
    position: absolute;
}

.bg-gradiente{
    background: $gradiente;    
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.mt-190{
    margin-top: 190px;
}

.ml-160{
    margin-left: 160px
}

.button-view-profile{
    border: 2px solid white;
    border-radius: 50px;
    width:130px;
}

.button-share-profile{
    border: 2px solid white;
    border-radius: 50px;
}

.button-account-setings{
    border: 2px solid white;
    border-radius: 50px;
    width:140px;
}

.font-size-10{
    font-size:10px;
}

.pointer{
    cursor: pointer;
}

.border-gray{
    border-bottom-color: $black;
}

.app-header{
    border-bottom: $black;
}

.app-footer{
    border-bottom: $black;
}

ul{
    padding-inline-start: 20px;
}

img {
    width: 100%;
    height: auto;
}

input[type=checkbox]{
    display: none; /*solo se esconde para tener un campo personalisado*/
}

input[type=checkbox] + label{
    cursor:pointer;
}/*esta linea significa esto + el siguiente elemento*/

label:before{
    content:'';
    background:transparent;
    border: 1px solid $white;
    display: inline-block;
    height: 11px;
    width: 11px;
    text-align:center;
    text-shadow:4px -2px 3px gray;
    vertical-align:middle;
}
input[type=checkbox]:checked + label:before{
    content: '✔';
    font-size: 7px;
    color:$white;
}
